@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}



/*  Header Contents*/
header {
	width: 100%;
	height: 70px;
	background-color: #fff;
	
	position: fixed;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(36,36,36,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(36,36,36,1);
box-shadow: 1px 1px 1px 0px rgba(36,36,36,1);
}

.logo {
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}




/*  Buttons  */
button {
	border: 2px solid #f48023;
	border-radius: 3px;
	background-color: transparent;
	color: #fff;
	height: 45px;
	width: 140px;
	font-size: 12pt;
}

button:hover {
	background-color: #f48023;
	cursor: pointer;
}

.btn-1 {
	margin-top: 40px;
}





/*  Landing Section  */
.landing {
	background: url(../img/landing.jpg) 0 0 fixed no-repeat;
	width: 100vw;
	height: 90vh;
	position: inherit;
}

.land-intro {
	padding-top: 300px;
	line-height: 2.4em;
	width: 90%;
	margin: 0 0 0 30px;
}

.scroll-arrow {
	background-image: url(../img/scroll.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 120px auto 0;
}



/*  About Section  */
.about {
	width: 100%;
	height: ;
	background-color: #fff;
	padding-bottom: 100px;
}

.section-intro {
	width: 90%;
	margin: 60px auto;
	text-align: center;
}

.about-content {
	width: 90%;
	margin: 0 auto;
}




/*  Portfolio Section  */

.portfolio {
	background-color: #fafafa;
	height: 150vh;
	padding-bottom: 100px;
}

.section-intro-portfolio {
	padding-top: 60px;
}

.project-holder {
	text-align: center;
	height: inherit;

}

.project-unit {
	height: 300px;
	width: 300px;
	background-color: #ccc;
	margin: 10px auto;
	
}



/*  Process Section  */

.process {

}

.process-step {
	margin: 30px auto;
}


.step-icon {
	width: 150px;
	height: 150px;
	margin: 0 auto;

}

.step-icon-1 {
	background-image: url(../img/step1.svg);
	background-repeat: no-repeat;
}
.step-icon-2 {
	background-image: url(../img/step2.svg);
	background-repeat: no-repeat;
}
.step-icon-3 {
	background-image: url(../img/step3.svg);
	background-repeat: no-repeat;
}


.img-dots {
	background-image: url(../img/doticon1.svg);
	height: 350px;
	width: 125px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.img-dots-2 {
	background-image: url(../img/doticon2.svg);
	height: 350px;
	width: 125px;
	background-repeat: no-repeat;
	margin: 0 auto;
}






/*--- Services ---*/


.services {
	width: 100%;
	height: 180vh;
	background-color: #f2f2f2;
}

.section-intro-services {
	padding-top: 60px;
}

.service-hold {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}

.service-unit {
	width: 95%;
	height: 180px;
	background-color: #fff;
	/*margin-bottom: 15px;*/
	padding-top: 16px;
	margin: 15px auto;
}


.service-icon {
	width: 50px;
	height: 50px;
	margin: 15px;
	background-repeat: no-repeat;
}

.service-icon-1 {
	background-image: url(../img/icon1.svg);
}
.service-icon-2 {
	background-image: url(../img/icon2.svg);
}
.service-icon-3 {
	background-image: url(../img/icon3.svg);
	width: 60px;
	height: 50px;
}
.service-icon-4 {
	background-image: url(../img/icon4.svg);
}
.service-icon-5 {
	background-image: url(../img/icon5.svg);
}
.service-icon-6 {
	background-image: url(../img/icon6.svg);
}



.service-icon-title {
	text-align: left;
	margin-left: 16px;
}

.service-icon-underline {
	width: 100px;
	height: 4px;
	background-color: #f58025;
	margin: 26px 16px 0;

}



/*--- TEAM  ---*/

.team {
	width: 100%;
	height: 100vh;
}

#team {
	text-align: center;
}

.team-unit {
	width: 95%;
	/*height: 180px;*/
	/*background-color: #fff;*/
	/*margin-bottom: 15px;*/
	padding-top: 16px;
	margin: 15px auto 30px;
	letter-spacing: 0em;
	text-align: center;
}

.team-pic {
	height: 200px;
	width: 200px;
	background-color: #ddd;
	border-radius: 50%;
	margin: 0 auto 20px;
	text-align: center;
}




.partners {
	width: 100%;
	height: 180vh;
	margin-top: 300px;
	background-color: #fafafa;
	padding-top: 60px;
}







footer {
	width: 100%;
	height: 60vh;
}




 @media only screen and (min-width: 578px) {

.services {
	width: 100%;
	height: 110vh;
	background-color: #f2f2f2;
}




 }



 @media only screen and (min-width: 960px) {

.services {
	width: 100%;
	height: 90vh;
	background-color: #f2f2f2;
}




 }












